.pad{padding:0 15px !important;}
.pagination {
  	border-radius: 4px;
  	display: inline-block;
  	margin: 20px 0;
  	padding-left: 0;
}
.pagination li {
  	background-color: #00b5ad;
  	display: inline;
  	padding: 10px;
  	border-left: 1px solid #fff;
}
.pagination li a {
  	color: #fff;
  	text-decoration: none;
  	padding: 10px;
    min-width: 3em;
    font-size: 15px;
    font-weight: bold;
}
.pagination .active {
  background-color: #1678c2;
}
.pagination>li:first-child {
    border-radius: .28571429rem 0 0 .28571429rem;
}
.pagination>li:last-child {
    border-radius: 0 .28571429rem .28571429rem 0;
}
.perItems
{
  padding: 10px;
  position: absolute;
  right: 10px;
}